{% extends 'admin_base/main.html' %}
{% load static %}

{% block content %}

<div class="container-fluid px-4 pt-0 pb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-11 card" style="border-radius: 10px">
            <!--  -->
            <div class="card-header">
                <h5 class="text-muted mb-0">
                    Shipping details of &nbsp;
                    <span style="color: #d63384">{{order.full_name}}</span>
                </h5>
            </div>
            <!--  -->
            <div class="card-body px-2">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="lead fw-normal mb-0" style="color: #d63384">
                        Ordered items
                    </h2>
                    <p class="small text-muted mb-0">
                        Tracking id : {{order.payment.payment_id}}
                    </p>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-3">
                            <thead>
                                <tr>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Image
                                    </th>

                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Product
                                    </th>

                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Total
                                    </th>

                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Status
                                    </th>

                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Edit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in orders %}
                                <tr>
                                    <td class="align-middle text-center">
                                        <img height="100" width="100" src="{{item.product.images.url}}"
                                            class="img-fluid" alt="Phone" />
                                    </td>

                                    <td class="align-middle text-center align-middle text-center">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">
                                                {{item.product_price}}
                                            </h6>
                                            <p class="text-xs text-secondary mb-0">
                                                price : &#8377; {{item.product_price}}
                                            </p>
                                        </div>
                                    </td>

                                    <td class="align-middle text-center align-middle text-center">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">
                                                &#8377; {{item.total}}
                                            </h6>
                                            <p class="text-xs text-secondary mb-0">
                                                Qty : {{item.quantity}}
                                            </p>
                                        </div>
                                    </td>

                                    <td class="align-middle text-center text-sm">
                                        <h6 style="color: #d63384; font-size:14px;" class="mb-0">{{item.status | upper}}</h6>
                                    </td>

                                    <td class="text-center">
                                        {% if item.status == 'ordered' %}

                                        <a href="{% url 'edit-shipping-product' item.id %}"
                                            class="btn btn-success rounded-pill d-inline w-20">approve it as :
                                            Shipped</a>
                                        {% elif item.status == 'shipped' %}
                                        <a href="{% url 'edit-shipping-product' item.id %}"
                                            class="btn btn-primary rounded-pill d-inline">approve it as : Out for
                                            Delivery</a>
                                        {% elif item.status == 'out_for_delivery' %}
                                        <a href="{% url 'edit-shipping-product' item.id %}"
                                            class="btn btn-warning rounded-pill d-inline">approve it as : Delivered</a>

                                        {% elif item.status == 'delivered' %}
                                        <p class="mb-0">Product Delivered</p>

                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="card border my-4 p-3">
                    <h4>Shipping Address</h4>
                    <h6 class="card-title">Name : {{order.full_name}}</h6>
                    <h6> Address : {{order.full_address}}, <span>{{order.city}}, {{order.pin_code}}, {{order.state}}, {{order.country}} </span></h6>
                    <h6>Email: {{order.email}}</h6>
                    <h6> Mobile : {{order.phone}}</h6>
                </div>
            </div>
            <!--  -->
            <div class="col-12 col-lg-8">



                <div class="cart-table clearfix">
                    {% for item in Order %}
                    <div class="card mb-5" style="box-shadow: 0 3px 12px rgba(0, 0, 0, 0.09); border: none;">
                        <h5 class="card-header" style="background-color: #fff; border: none;">Product : <span
                                style="color: #fbb710;">{{ item.product.name }}</span></h5>
                        <div class="card-body">
                            <!--  -->
                            {% if item.status == 'ordered' or item.status == 'shipped' or item.status == 'out_for_delivery' %}
                            <p class="text-dark">Order Status : <span class="text-primary">{{ item.status }}</span></p>
                            {% elif item.status == 'delivered' %}
                            <p class="text-dark">Order Status : <span class="text-success">{{ item.status }}</span></p>
                            {% elif item.status == 'cancelled' %}
                            <p class="text-dark">Order Status : <span class="text-danger">{{ item.status }}</span></p>
                            {% endif %}

                            <div class="d-flex mb-3" style="gap: 30px">
                                    <img src="{{ item.product.img.url }}" alt=""
                                        style="height: 200px; border: 1px solid #999" />
                                <div class="d-flex flex-column justify-content-between">

                                    <p class="my-0">Price : ₹ {{item.product_price}}</p>
                                    <p class="my-0">Qty : {{ item.quantity }}</p>
                                    <p class="my-0">Total : <strong> ₹ {{ item.total }}</strong></p>

                                </div>

                            </div>
                            <!--  -->
                            {% if item.status == 'cancelled' %}
                            <div class="my-3 py-4 d-flex bg-light justify-content-center">
                                <h3 class="text-danger mb-0">Your Order is Cancelled!</h3>
                            </div>
                            {% else %}
                            <div class="my-3 py-5 d-flex bg-light">
                                <div
                                    class="order-tracking {% if item.status == 'ordered' or item.status == 'shipped' or item.status == 'out_for_delivery' or item.status == 'delivered' %} completed {% endif %}">
                                    <span class="is-complete"></span>
                                    <p>Ordered</p>
                                </div>
                                <div
                                    class="order-tracking {% if item.status == 'shipped' or item.status == 'out_for_delivery' or item.status == 'delivered' %} completed {% endif %}">
                                    <span class="is-complete"></span>
                                    <p>Shipped</p>
                                </div>
                                <div
                                    class="order-tracking {% if item.status == 'delivered' or item.status == 'out_for_delivery' %} completed {% endif %}">
                                    <span class="is-complete"></span>
                                    <p>Out For Delivery</p>
                                </div>
                                <div class="order-tracking {% if item.status == 'delivered' %} completed {% endif %}">
                                    <span class="is-complete"></span>
                                    <p>Delivered</p>
                                </div>
                            </div>
                            {% endif %}
                            <!--  -->
                            <p class="card-text text-dark">Payment method : {{order.payment_method}}</p>
                            <p class="card-text text-dark">Tracking no. : {{order.tracking_no}}</p>
                            {% if order_details.payment.razorpay_payment_id %}
                            <p class="card-text text-dark">Transaction Id : {{order.payment.payment_id}}</p>
                            {% endif %}
                            <p class="card-text text-dark">Invoice Date : {{ order.created_at|date }}</p>
                            <!-- <a href="" class="btn amado-btn">View Invoice</a> -->


                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
   

</div>
{% endblock %}