{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
    <div class="row">

        {% include 'includes/profile_sidebar.html' %}
        
        <div class="col-lg-9 my-lg-0 my-1">
            <div class="d-flex flex-column">
                <div class="h3">My Profile</div>
            </div>
            <div id="main-content" class="bg-white border">
                <div>
                  {% if userprofile.profile_picture %}
                  <img src="{{userprofile.profile_picture.url}}" alt="Profile Picture" width="100" style="border-radius:50px;" > 
                  {% else %}
                  <img src="" alt="Profile Picture" width="100" style="border-radius:50px;" > 
                  {% endif %}
                 </div>
            <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="form-group row">
                <div class="col-md-6">
                  <label>First Name</label>
                  {{user_form.first_name}}
                </div>

                <div class="col-md-6">
                  <label>Last Name</label>
                  {{user_form.last_name}}
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Address</label>
                  {{profile_form.address_line_1}}
                </div>
              </div>

              <div class="form-group mt-3">
                {{profile_form.address_line_2}}
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label>Country</label>
                  {{profile_form.country}}
                </div>

                <div class="col-md-6">
                  <label>State</label>
                  {{profile_form.state}}
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label>City</label>
                  {{profile_form.city}}
                </div>

                <div class="col-md-6">
                    <labe>Phone</label>
                    {{user_form.phone_number}}
                  </div>
              </div>

              <div class="form-group row mb-5">
                <div class="col-md-6">
                    <label>Profile Picture</label>
                    {{profile_form.profile_picture}}
                  </div>
              </div>
              <input type="submit" value="Save">
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}