{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Start Hero Section -->

<div class="hero">
    <div class="container">
        <h2 class="text-center"> {{category.category_name}}</h2>      
    </div>
</div>

<!-- End Hero Section -->

<!-- filter -->

<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="border border-dark">

                    <div class="category  p-5">
                        <h3>Sub Category</h3>
                        {% for sub_category in sub_links %}  
                          {% if sub_category.Category == categories%}
                        <div>
                            <ul class="navbar-nav mb-2 mb-lg-0 ">
                                <li><a class="dropdown-item" href="{{ sub_category.get_url }}"> {{ sub_category.sub_category_name }}</a></li>
                            </ul>
                        </div> 
                          {% endif %}    
                        {% endfor %}
                    </div>

                    <div class="price p-5">
                        <h3>Price</h3>
                        <div>
                            <input type="range" class="multi-range success" style="color:darkolivegreen;" value="{{FilterPrice}}" min="{{min_price.price__min}}" max="{{max_price.price__max}}" id="rangeInput" oninput="maxPrice.value=this.value" width="400px" />
                        </div>
                        <form action="" method="get">
                            <b>₹</b><input type="number" id="maxPrice" readonly="" name="FilterPrice" onkeyup="rangeInput.value=this.value" value="{{FilterPrice}}{{minMaxPrice.price__max}}"    />
                            <button type="submit" id="priceFilterBtn" class="tp-btn-square-lg">Filter</button>
                        </form>  
                    </div>
                </div>
            </div>


            <!-- filter end -->

            <div class="col-md-9">
                <div class="row">
                    {% for product in products %}
        
                    <!-- Start Column 1 -->
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <div class="product-card border border-3 p-3 d-flex flex-column h-100"><a class="flex-grow-1" href="{{ product.get_url }}">
                                <img src="{{ product.images.url}}" class="img-fluid product-thumbnail w-100">
                                <h4 class="product-title">{{ product.product_name}}</h4>
                                <h5><strong class="product-price">₹{{ product.price}}</strong></h5>
                            </a>
                            <div class="d-flex justify-content-between ">
                                <a href="{% url 'add_cart' product.id %}" class="btn btn-sm btn-primary">Add to cart</a>
                                <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-sm btn-primary fa fa-heart"></a>
                                
                            </div>
                        </div>
                    </div>
    
                    {% endfor %}

                    <!-- End Column 1 -->

                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}